/* Main body */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
}

/* Link styling */

a, a:active, a:visited, a:link, a:focus {
    outline: none !important;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p:active, p:visited, p:link, p:focus {
    outline: none !important;
}